/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\komp\IdeaProjects\java-courses-api-circleci\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/*